body {
    margin: 20px 20px 20px 20px;
    background-image: url("../img/icebreaker.jpg");
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.main {
    height: 100%;
    width: 100%;
}
input[type="text"] {
	text-align:left;
	position: relative;
	width:30%;
    padding: 10px;
    background:#e8e8e8;
    margin-bottom: 20px;
    color: #676767;
	font-weight:600;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
input[type="text"]:hover {
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
}

input[type="button"], input[type="submit"] {
	text-align: center;
	position: relative;
	width:100%;
    padding: 10px;
    background:darkorange;
    margin-bottom: 20px;
    color: #ffffff;
	font-weight:600;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
    margin-left: 10px;
}
input[type="button"]:hover, input[type="submit"]:hover {
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
}

label {
    color: #ffffff;
}

.form1 {
    padding: 210px 10px 10px 10px;
    width: 300px;
}

.form2 {
    padding: 8px 15px 10px 0px;
    width: 32%;
}

.hidden {
    display: none;
}

.place_button {
    height: 20px;
    font-size: small;
    font-weight: bold;
    background: orange;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.close_button {
    background-image: url('../img/btn.png');
    height: 15px;
    width: 15px;
    margin-left: 5px;
    padding: 0px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
	position: relative;
	outline: none;
	border: none;
	-webkit-appearance:none;
}