<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Route Planner</title>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <link type="text/css" rel="stylesheet" href="../static/css/jquery-clockpicker.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/google_search_map.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/google_maps.js"></script>
    <script type="text/javascript" src="../static/js/jquery-clockpicker.min.js"></script>
</head>
<body>
    <div class="main">
        <form class="form1" action="{{ url_for('index') }}" method="post" onsubmit="return verify();">
            <input style="position:relative; width: 100%" type="text" id="input-0" name="source" value="Source location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Source';}"><br>
            <input style="position:relative; width: 100%" type="text" id="input-a" name="time1" value="Leave at"><br>
            <input style="position:relative; width: 100%" type="text" id="input-1" name="dest" value="Destination location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Destination';}"><br>
            <input style="position:relative; width: 100%" type="text" id="input-b" name="time2" value="Reach before"><br>
            <input type="submit" name="button1" value="Go Ahead" id="save_value"/>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>window.alert('{{ messages[0] }}')</script>
            {% endif %}
        {% endwith %}
    </div>
    <script type="text/javascript" src="../static/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type="text/javascript" src="../static/js/google_search_map.js"></script>
</body>
</html>