<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Route Planner</title>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <link type="text/css" rel="stylesheet" href="../static/css/google_search_map.css">
    <link type="text/css" rel="stylesheet" href="../static/css/multi-select.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/google_maps.js"></script>
    <script type="text/javascript" src="../static/js/google_search_map.js"></script>
    <script type="text/javascript" src="../static/js/searchable.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">
        var place_types = [
            'accounting',
            'airport',
            'amusement_park',
            'aquarium',
            'art_gallery',
            'atm',
            'bakery',
            'bank',
            'bar',
            'beauty_salon',
            'bicycle_store',
            'book_store',
            'bowling_alley',
            'bus_station',
            'cafe',
            'campground',
            'car_dealer',
            'car_rental',
            'car_repair',
            'car_wash',
            'casino',
            'cemetery',
            'church',
            'city_hall',
            'clothing_store',
            'convenience_store',
            'courthouse',
            'dentist',
            'department_store',
            'doctor',
            'electrician',
            'electronics_store',
            'embassy',
            'establishment',
            'finance',
            'fire_station',
            'florist',
            'food',
            'funeral_home',
            'furniture_store',
            'gas_station',
            'general_contractor',
            'grocery_or_supermarket',
            'gym',
            'hair_care',
            'hardware_store',
            'health',
            'hindu_temple',
            'home_goods_store',
            'hospital',
            'insurance_agency',
            'jewelry_store',
            'laundry',
            'lawyer',
            'library',
            'liquor_store',
            'local_government_office',
            'locksmith',
            'lodging',
            'meal_delivery',
            'meal_takeaway',
            'mosque',
            'movie_rental',
            'movie_theater',
            'moving_company',
            'museum',
            'night_club',
            'painter',
            'park',
            'parking',
            'pet_store',
            'pharmacy',
            'physiotherapist',
            'place_of_worship',
            'plumber',
            'police',
            'post_office',
            'real_estate_agency',
            'restaurant',
            'roofing_contractor',
            'rv_park',
            'school',
            'shoe_store',
            'shopping_mall',
            'spa',
            'stadium',
            'storage',
            'store',
            'subway_station',
            'synagogue',
            'taxi_stand',
            'train_station',
            'travel_agency',
            'university',
            'veterinary_care',
            'zoo'
        ];
        var lat1 = {{ lat1 }};
        var lat2 = {{ lat2 }};
        var lng1 = {{ lng1 }};
        var lng2 = {{ lng2 }};
        var sec = {{ sec }};
        var total_dist = 50000;
        var map;
    </script>
</head>
<body>
    <div class="main">
        <div id="map_canvas" style="width:100%; height: 500px; border-radius: 10px 10px 10px 10px;"></div>
        <div class="form2" style="float: left">
            <div style="background: #000000; border-radius: 10px 10px 10px 10px;">
                <div style="border-radius: 10px 10px 10px 10px; overflow: hidden; width: 100%;">
                    <select style="position:relative; width: 100%;" multiple="multiple" id="custom-headers" class="searchable" name="searchable[]">
                        <script type="text/javascript">
                            for (var i = 0; i < place_types.length; i++) {
                                var a = "<option value='" + place_types[i] + "'>" + place_types[i] + "</option>";
                                var opt = new Option;
                                opt.value = place_types[i];
                                opt.innerHTML = place_types[i];
                                document.getElementById('custom-headers').appendChild(opt);
                            }
                        </script>
                    </select>
                </div>
                <input type="button" style="width: 100%; margin-left: 0px; margin-bottom: 0px;" name="button1" value="Get Places on Map" id="save_value1" onclick="getTypes(); displayCategories();"/>
            </div>
        </div>
        <div style="float: left; background: lightgoldenrodyellow; width: 66%; height: 220px; overflow-y:auto;margin-top: 10px; border-radius: 10px 10px 10px 10px;">
            <div id="place_list" style="padding: 20px 20px 20px 20px;"></div>
        </div>
        <input type="button" style="width: 66%; margin-left: 0px; margin-bottom: 0px;" name="button1" value="Get Route" onclick="getRoute();"/>
    </div>
    <script type="text/javascript" src="../static/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="../static/js/place.js"></script>
    <script>
        initialize();
    </script>
</body>
</html>